clean.sh
.gitignore
TODOS.md
demo.js
bower.json
typings
node_modules
.nyc_output
coverage
.travis.yml
typings.json
.eslintrc.json
.eslintignore
./test
.travis.yml
./lib
tsconfig.json
webpack.config.js
yarn.lock
git-hooks/
init-hooks.sh
